<div class="feedback-form">
  <nr-form
    data-name="feedbackForm"
    data-submit="$ctrl.submit"
    data-submit-success="$ctrl.submitSuccess"
    data-submit-success-message="Nice! Thanks for your feedback ;)">
    <nr-row>
      <nr-row-item
        data-size="12"
        data-label="How long have you worked as software developer?">
        <input type="text" ng-model="$ctrl.experience" required/>
      </nr-row-item>
    </nr-row>
    <nr-row>
      <nr-row-item
        data-size="12"
        data-label="What is your opinion about Component-Based Architecture?">
        <input type="text" ng-model="$ctrl.opinion" required/>
      </nr-row-item>
    </nr-row>
    <nr-row>
      <nr-row-item
        data-size="12"
        data-label="Have you known a greater architecture or noticed anything that could be better here?">
        <input type="text" ng-model="$ctrl.suggestions" />
      </nr-row-item>
    </nr-row>
    <nr-row>
      <nr-row-item>
        <button
          type="submit"
          class="button-primary">
          Send
        </button>
      </nr-row-item>
    </nr-row>
  </nr-form>
</div>
