@require '_variables'
@require '_mixins'

button
  &.button-primary
    background-color $color-primary
    color $color-lightest
    border-color $color-primary
    &:hover,
    &:focus
      background-color alpha($color-primary, .9)
  &.button-mini
    font-size $font-size-xxs
    line-height 16px
    padding 0 5px
