@require '_variables'
@require '_mixins'
@require 'viewport'

$topbar-border-color = alpha($color-grey, .5)

.topbar
  background-color $color-lightest
  border-bottom 1px solid $topbar-border-color
  backdrop-filter('blur(10px)')

.topbar-content
  position relative
  width $viewport-width
  max-width $viewport-max-width
  margin 0 auto
  clearfix()
  .logo
    position absolute
    top 50%
    left 0
    width 180px
    height 24px
    background-size 180px 24px
    background-position left center
    transform('translate(0,-50%)')
  .app-menu
    float right

+breakpoint('xs')
  .topbar-content
    .logo
      width 24px
      height 24px
