@require '_variables'
@require '_mixins'

$viewport-width = 95%
$viewport-max-width = 600px

.viewport
  position relative
  padding-top 60px
  .topbar
    position fixed
    top 0
    left 0
    right 0
    z-index $layer-low

.viewport-content
  margin 50px auto
  width $viewport-width
  max-width $viewport-max-width

+breakpoint('xs')
  .viewport-content
    margin 30px auto
