<div class="author-picto-card">
  <ng-picto-card
    data-title="Rafael Camargo"
    data-image="avatar.jpeg">
    <p>
      Developer with a sharp eye for design focused on Frontend/UI Architecture. Maker of
      <a href="https://www.nashios.com/?utm_source=angular-rise&utm_medium=author-picto-card" target="_blank">Nashios</a>,
      <a href="http://www.teleflik.com/?utm_source=angular-rise&utm_medium=author-picto-card" target="_blank">Teleflik</a>,
      <a href="https://chrome.google.com/webstore/detail/dollert/lkbhlmhaiggihoihajncjlnmbpigbkam" target="_blank">Dollert</a>,
      <a href="http://rafaelcamargo.github.io/ng-surprise" target="_blank">Angular Surprise</a>,
      <a href="http://rafaelcamargo.github.io/glorious-grid/doc/en-us/?utm_source=angular-rise&utm_medium=author-picto-card" target="_blank">Glorious Grid</a>
      and <a href="https://www.npmjs.com/package/gcookie" target="_blank">Glorious Cookie</a>.
    </p>
    <p>
      If you want to get in touch with me, drop me a message or reach me on social networks.
    </p>
    <ng-divider></ng-divider>
    <ng-author-contact-form></ng-author-contact-form>
  </ng-picto-card>
</div>
