<div class="author-contact-form">
  <nr-form
    data-name="authorContactForm"
    data-submit="$ctrl.submit"
    data-submit-success="$ctrl.onSubmitSuccess"
    data-submit-error="$ctrl.onSubmitError"
    data-alert="$ctrl.alert"
    data-bind-ctrl="true"
    data-ctrl="$ctrl.formCtrl">
    <nr-row>
      <nr-row-item
        data-size="12"
        data-label="Name">
        <input type="text" ng-model="$ctrl.name" required />
      </nr-row-item>
    </nr-row>
    <nr-row>
      <nr-row-item
        data-size="12"
        data-label="Email">
        <input type="email" ng-model="$ctrl.email" required />
      </nr-row-item>
    </nr-row>
    <nr-row>
      <nr-row-item
        data-size="12"
        data-label="Message">
        <textarea ng-model="$ctrl.message" required></textarea>
      </nr-row-item>
    </nr-row>
    <nr-row>
      <nr-row-item
        data-size="6">
        <button type="submit" class="button button-primary">
          Send
        </button>
      </nr-row-item>
      <nr-row-item
        data-size="6">
        <nr-author-social-networks></nr-author-social-networks>
      </nr-row-item>
    </nr-row>
  </nr-form>
</div>
